MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=wielermanager
MONGODB_RACES_COLLECTION=races
MONGODB_STAGES_COLLECTION=stages
MONGODB_RIDERS_COLLECTION=riders
MONGODB_TEAMS_COLLECTION=teams
MONGODB_RACE_RESULTS_COLLECTION=race_results
MONGODB_STAGE_RESULTS_COLLECTION=stage_results
MONGODB_STARTLISTS_COLLECTION=startlists
